@font-face {
    font-family: 'zombloregular';
    src: url('zomblo-webfont.woff2') format('woff2'),
         url('zomblo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}