/* COLORS TO CHANGE */
/* DONT EDIT BELOW THIS LINE */
.button-blue {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: #34a9db;
  border: 1px solid #34a9db;
  color: white;
  box-shadow: none;
  text-transform: none;
  color: white; }

.button-blue a {
  text-decoration: none;
  color: white; }

.button-green {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: #4fbf70;
  border: 1px solid #4fbf70;
  color: white;
  box-shadow: none;
  text-transform: none;
  text-decoration: none; }

.button-green a {
  text-decoration: none;
  color: white; }

.button-yellow {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: #ffd158;
  border: 1px solid #ffd158;
  color: white;
  box-shadow: none;
  text-transform: none;
  text-decoration: none; }

.button-yellow a {
  text-decoration: none;
  color: white; }

.button-gray {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: #8b8b8b;
  border: 1px solid #8b8b8b;
  color: white;
  box-shadow: none;
  text-transform: none;
  text-decoration: none; }

.button-gray a {
  text-decoration: none;
  color: white; }

.button-white {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: white;
  border: 1px solid #34a9db;
  color: #34a9db;
  box-shadow: none;
  text-transform: none;
  text-decoration: none; }

.button-white a {
  text-decoration: none;
  color: #34a9db; }

.button-jet {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: #242424;
  border: 1px solid #242424;
  color: white;
  box-shadow: none;
  text-transform: none;
  text-decoration: none; }

.button-jet a {
  text-decoration: none;
  color: white; }

.button-clear {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  box-shadow: none;
  text-transform: none;
  text-decoration: none; }

.button-clear a {
  text-decoration: none;
  color: white; }
