/* COLORS TO CHANGE */
$green  : #4fbf70;
$blue   : #34a9db;
$yellow : #ffd158;
$gray   : #8b8b8b;
$jet    : #242424;

/* DONT EDIT BELOW THIS LINE */
.button-blue {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: $blue;
  border: 1px solid $blue;
  color: white;
  box-shadow: none;
  text-transform: none;
  color: white;
}
.button-blue a {
  text-decoration: none;
  color: white;
}
.button-green {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: $green;
  border: 1px solid $green;
  color: white;
  box-shadow: none;
  text-transform: none;
  text-decoration: none;
}
.button-green a {
  text-decoration: none;
  color: white;
}
.button-yellow {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: $yellow;
  border: 1px solid $yellow;
  color: white;
  box-shadow: none;
  text-transform: none;
  text-decoration: none;
}
.button-yellow a {
  text-decoration: none;
  color: white;
}
.button-gray {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: $gray;
  border: 1px solid $gray;
  color: white;
  box-shadow: none;
  text-transform: none;
  text-decoration: none;
}
.button-gray a {
  text-decoration: none;
  color: white;
}
.button-white {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: white;
  border: 1px solid $blue;
  color: $blue;
  box-shadow: none;
  text-transform: none;
  text-decoration: none;
}
.button-white a {
  text-decoration: none;
  color: $blue;
}
.button-jet {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: $jet;
  border: 1px solid $jet;
  color: white;
  box-shadow: none;
  text-transform: none;
  text-decoration: none;
}
.button-jet a {
  text-decoration: none;
  color: white;
}
.button-clear {
  border-radius: 20px;
  text-align: center;
  padding: 12px 25px;
  height: auto;
  line-height: normal;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  box-shadow: none;
  text-transform: none;
  text-decoration: none;
}
.button-clear a {
  text-decoration: none;
  color: white;
}